# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/build/

# env / secrets
.env
.env.local
*.pem
*.key

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.log

# deploy bootstrap
deploy/.env.prod
.env.prod
